.InputCss{
    width:100%;
    font-size: 22px;
    background-color: #393a3c;
    border:none;
    color: white;
    padding:12px
}

.submit-button{
    width:40%;
    border:none;
    font-size: 30px;
    background-color: #38388f;
}


.my-side{
    background-color: #0b93f6;
    width: fit-content;
    margin-left: auto;
    padding-left: 10px;    
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 1px;
    margin-right: 10px;

    margin-top:15px;
    margin-bottom:15px;

    .text-message{
        color: white;
        font-size: 17px;
    }
}


.message-container {
    display: flex;
    align-items: flex-start; /* Adjust alignment as needed */
    margin-top:15px;
    margin-bottom:15px;
    margin-left: 10px;
}

.other-side{
    background-color: white;
    width: fit-content;
    margin-right: auto;
    
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 1px;
    margin-left: 10px;

    .text-message{
        color: black;
        font-size: 17px;
    }

}

form {
    bottom: 0;
    height: 10vh;
    background-color: rgb(24, 23, 23);
    width: 100%;
    display: flex;
    font-size: 1.5rem;
}

.message-scroll-css{
    padding: 10px;
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.Header header {
    background-color: #181717;
    height: 10vh;
    min-height: 50px;
    color: white;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
}

.sign-out-button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white
}